<div class="socials">
    <a href="https://github.com/gaverealjohn/" target="_blank">
        <i class="fa fa-github-alt" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/gabriel-john-manzanares-8a4a401a4" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a href="https://instagram.com/gbrlig/" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
</div>