<div class="hero-div">
    <p class="greeting">HELLO, I AM</p>
    <section class="name-job-animation">
        <!-- <span class="greeting">My name is</span> -->
        <div class="first-name glitch" title="GABRIEL">GABRIEL</div>
        <div class="job glitch" title="a SOFTWARE DEV">a SOFTWARE DEV</div>
    </section>
    <p class="short-intro">Designer. <span>Developer.</span> Data Analyst.</p>
</div>
<a href="#experience" class="arrow" id="experience-arrow">
    <i class="fa fa-angle-double-down"></i>
    <p></p>
</a>