<div class="work-list">
    <div class="work-experience active" data-work-id="work1" onclick="selectWorkXP(this)">
        <div class="work-header">
            <h3>Software Engineer</h3></div>
        <div class="work-subheader">
            <p>Alliance Software, Inc.</p>
        </div>
    </div>
    <div class="work-experience" data-work-id="work2" onclick="selectWorkXP(this)">
        <div class="work-header">
            <h3>Full-Stack Developer</h3></div>
        <div class="work-subheader">
            <p>GeckoTech, Inc.</p>
        </div>
    </div>
    <div class="work-experience" data-work-id="work3" onclick="selectWorkXP(this)">
        <div class="work-header">
            <h3>Full-Stack Developer</h3></div>
        <div class="work-subheader">
            <p>WLC Life Sales and Supports</p>
        </div>
    </div>
</div>
<div class="work-details">
    <div class="work-detail active" id="work1">
        <h2 class="work-title">
            Software Engineer
            <span class="work-type">Full Time</span>
        </h2>
        <h4 class="company">
            Alliance Software, Inc.
        </h4>
        <p class="duration">
            <span class="duration-from">August 2022 - </span>
            <span class="duration-end">April 2025</span>
            <span class="duration-total">(2 years 8 months)</span>
        </p>
        <ul class="work-desc-list">
            <li class="work-desc">
                <p class="desc-title">Software Developer - Associate Technical Specialist 1</p>
                <p class="desc-duration">
                    <span class="desc-duration-from">January 2024 - </span>
                    <span class="desc-duration-end">April 2025</span>
                    <span class="desc-duration-total">(1 year 3 months)</span>
                </p>
                <ul class="work-desc-summ">
                    <li class="work-desc-summ-task">
                        Designed and developed low-code applications in Microsoft Power Apps that streamline business processes, integrate data management with SharePoint Online, and automate tasks with Microsoft Power Automate.
                    </li>
                    <li class="work-desc-summ-task">
                        Resolved critical issues in business applications used by key departments in a fast-paced and high-demand corporate environment, ensuring seamless operations and minimal downtime.
                    </li>
                    <li class="work-desc-summ-task">
                        Spearheaded the development and implementation of innovative methods for resolving and deploying fixes, enhancing efficiency, and reducing turnaround time.
                    </li>
                    <li class="work-desc-summ-task">
                        Designed and developed custom SharePoint pages with SharePoint Designer.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="work-detail" id="work2">
        <h2 class="work-title">
            Full-Stack Developer Intern
            <span class="work-type">Internship</span>
        </h2>
        <h4 class="company">
            GeckoTech, Inc.
            <span class="work-type">Internship</span>
        </h4>
        <p class="duration">
            <span class="duration-from">JUN 2021 - </span>
            <span class="duration-end">JUL 2022</span>
            <span class="duration-total">(2 months)</span>
        </p>
        <ul class="work-desc-list">
            <li class="work-desc">
                <p class="desc-title">Full-Stack Developer - Intern</p>
                <p class="desc-duration">
                    <span class="desc-duration-from">JUN 2021 - </span>
                    <span class="desc-duration-end">JUL 2021</span>
                    <span class="desc-duration-total">(2 months)</span>
                </p>
                <ul class="work-desc-summ">
                    <li class="work-desc-summ-task">
                        Designed and developed web applications such as a Learning Management System (LMS) using HTML, CSS, and JavaScript; integrated backend features using qCGI, MySQL, jQuery, and PHP.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="work-detail" id="work3">
        <h2 class="work-title">
            Full-Stack Developer
            <span class="work-type">Full Time</span>
        </h2>
        <h4 class="company">
            WLC Life
            <span class="work-type">Full Time</span>
        </h4>
        <p class="duration">
            <span class="duration-from">JAN 2018 - </span>
            <span class="duration-end">AUG 2018</span>
            <span class="duration-total">(8 months)</span>
        </p>
        <ul class="work-desc-list">
            <li class="work-desc">
                <p class="desc-title">Full-Stack Developer</p>
                <p class="desc-duration">
                    <span class="desc-duration-from">JAN 2018 - </span>
                    <span class="desc-duration-end">AUG 2018</span>
                    <span class="desc-duration-total">(8 months)</span>
                </p>
                <ul class="work-desc-summ">
                    <li class="work-desc-summ-task">
                        Designed and developed a customer relationship management (CRM) using HTML, CSS, and JavaScript, in the front end and PHP and MySQL in the back end.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>