@import url('../assets/fonts/Chillax_Complete/Fonts/WEB/css/chillax.css');
@import url('../assets/fonts/WEB/css/clash-grotesk.css');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@font-face {
  font-family: 'nodesignfoundry';
  src: url('../assets/fonts/nodesignfoundry/no-design-foundry-pan.ttf');
}

:root {
  --light: #EEEEEE;
  --dark: #151515;
  --secondary-dark: #222222;
  /* --accent: #D84040; */
  --accent: #F2613F;
  --secondary: #FFA559;
  --secondary-accent: #4e1212;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  /* filter: invert(1); */
}

body {
  font-family: ClashGrotesk-Regular, sans-serif;
  font-weight: 400;
  color: var(--light);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  --dot-bg: var(--dark);
  --dot-color: var(--light);
  --dot-size: 1px;
  --dot-space: 24px;
  background: var(--dark);
  background: linear-gradient(
                90deg, 
                var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), 
                transparent 1%
              ) center / var(--dot-space) var(--dot-space),
              linear-gradient(
                var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 100%
              ) center / var(--dot-space) var(--dot-space),
              var(--dot-color);
 
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2%;
  position: fixed;
  top: 0;
}

.nav-links {
  padding-right: 1%;
}

.nav-link {
  list-style: none;
}

.nav-link input[type=checkbox] {
  display: none;
}

/* main container */
main {
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  align-items: center;
  justify-self: center;
  margin: 2% 0;
  padding-top: 5%;
  /* overflow-x: auto; */
}

.section-header {
  grid-area: sectionheader;
  font-family: Chillax-Semibold, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  color: var(--secondary);
  margin: 10px 0;
}

.section-div {
  /* margin-left: 70px; */
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 60vh;
  padding: 3% 5%;
  background: rgba(39, 38, 38, 0.5);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
}

#hero {
  height: 100vh;
}

.hero-div  {
  display: flex;
  flex-direction: column;
  /* padding: 5%; */
  align-items: center;
}

.bio p {
  font-size: 3rem;
}

.greeting {
  font-family: Chillax-Semibold;
  font-size: 2rem;
  letter-spacing: -2px;
}

.name-job-animation {
  height: 7.2rem;
  overflow: hidden;
}

.glitch {
  animation: glitch 1s linear infinite;
  font-family: nodesignfoundry;
  font-size: 5rem;
  color: var(--accent);
}

@keyframes glitch{
  2%, 64% {
      transform: translate(2px,0) skew(0deg);
  }
  4%, 60% {
      transform: translate(-2px,0) skew(0deg);
  }
  62% {
      transform: translate(0,0) skew(5deg); 
  }
}

.first-name, .job {
  text-align: center;
}

.first-name:before {
  content: attr(title);
  position: absolute;
}

.first-name:after {
  content: attr(title);
  position: absolute;
  left: 39%;
}

.job:before,
.job:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%, 64% {
    transform: translate(2px,-2px);
  }
  4%, 60% {
    transform: translate(-2px,2px);
  }
  62% {
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.glitch:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg); 
  }
}

.name-job-animation div:first-child {
    animation: text-animation 8s infinite;
}

@keyframes text-animation {
  0% { margin-top: 0; }
  10% { margin-top: 0;}
  35% { color: transparent; }
  40% { margin-top: -7rem; }
  50% { margin-top: -7rem; }
  60% { color: transparent; }
  90% { margin-top: 0; }
  100% { margin-top: 0; }
}

.short-intro {
  margin-top: 3%;
  letter-spacing: 0.5cap;
  font-weight: bold;
}

.short-intro span {
  color: var(--secondary);
}

.arrow {
  font-size: 4em;
  text-align: center;
  color: var(--light);
  text-decoration: none;
  opacity: 0.5;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  transition: 0.5s;
  margin-top: 2%;
}

.arrow#experience-arrow {
  animation: floating 5s ease-in-out infinite;
}

.arrow#projects-arrow {
  font-size: 2em;
  margin-top: 1.5%;
  animation: floating 6s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
      transform: translateY(-20px);
  }

  100% {
      transform: translateY(0);
  }
}

.arrow:hover {
  cursor: pointer;
  color: var(--dark);
  -webkit-text-stroke: 1px var(--light);
  opacity: 1;
}

.arrow > p {
  font-size: 1rem;
  margin: 0;
}

.work-list {
  grid-area: worklist;
}

.work-experience {
  padding: 1em 2em;
}

.work-experience:first-child {
  border-top-left-radius: 12px;
}
.work-experience:last-child {
  border-bottom-left-radius: 12px;
}

.work-experience:not(.active) {
  opacity: 0.5;
  border: 0.5px solid var(--secondary-dark);
}

.work-experience.active,
.work-experience:hover {
  background: rgba(59, 54, 54, 0.1);
  box-shadow: 8px 4px 10px rgba(10, 10, 10, 0.5) inset;
  /* backdrop-filter: blur(1.1px); */
  /* -webkit-backdrop-filter: blur(1.1px); */
}

.work-experience:hover.work-experience:not(.active) {
  cursor: pointer;
}

.work-details {
  grid-area: workdetails;
  padding: 1em 3em;
  background: rgba(59, 54, 54, 0.1);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: -8px 4px 10px rgba(10, 10, 10, 0.5) inset;
  overflow-y: scroll;
  /* -ms-overflow-style: none;  IE and Edge */
  /* scrollbar-width: none;  Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.work-details::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.work-details::-webkit-scrollbar-track {
  background: var(dark); 
}

/* Handle */
.work-details::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.work-details::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.work-detail .active {
  height: 100%;
}

.work-detail:not(.active) {
  display: none;
}

.work-detail > * {
  margin: 0;
  padding: 0;
}

.work-title {
  font-family: Chillax-Semibold, sans-serif;
  text-transform: uppercase;
  color: var(--accent);
  letter-spacing: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-type {
  font-family: ClashGrotesk-Regular, sans-serif;
  font-weight: 400;
  color: var(--light);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1rem;
}

.work-detail {
  .company {
    font-weight: normal;
  }

  .duration {
    padding-top: 1em;
    padding-bottom: 2em;
    letter-spacing: 1.5px;
    font-weight: 600;
  }
}

.desc-title {
  text-transform: uppercase;
  color: var(--secondary);
}

.work-desc-summ-task {
  letter-spacing: 1px;
  padding-bottom: 1em;
}


#experience-div {
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  /* grid-template-rows: 1fr; */
  grid-template-areas: 
    "sectionheader  ."
    "worklist workdetails";
  padding-bottom: 5%;
}

/* .work-experience {
  margin-left: 48px;
  margin-bottom: 40px;
  border-bottom: 2px dashed var(--secondary-accent);
}

.company-name {
  font-family: Chillax-Regular, sans-serif;
  font-style: italic;
}

.company span:not(.company-name) {
  font-style: normal;
}

.work-description:first-child .work-description-title {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.1cap;
  margin-bottom: 0;
}

.work-description-title {
  font-weight: bold;
  letter-spacing: 0.1cap;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--accent);
}

.work-description:first-child .work-experience-length {
  font-size: 1em;
  margin-top: 0;
}

.work-experience-length {
  margin-top: 10px;
  margin-bottom: 10px;
}

.work-description:first-child .work-experience-skills {
  margin-bottom: 20px;
}

.work-experience-skills {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

#projects-div {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.project-showcase {
  margin: 0;
  height: 12em;
}

#footer {
  width: fit-content;
  height: 32px;
  align-self: flex-end;
  position: fixed;
  bottom: 0;
  padding-inline: 15px;
}

.socials a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--accent);
  margin-inline: 4px;
  transition: 0.5s;
}

.socials a:hover {
  color: var(--dark);
  -webkit-text-stroke: 1px var(--accent);
}

#arrow-back-up {
  display: none;
  color: var(--light);
  font-size: 3rem;
  position: fixed;
  bottom: 5%;
  align-self: flex-end;
  padding-inline: 30px;
  transition: 0.5s;
  animation: floating 5s ease-in-out infinite;
}

#arrow-back-up:hover {
  color: var(--dark);
  -webkit-text-stroke: 1px var(--light);
}